.body {
  font-family: ro;
}

html,body{
  overflow-x: hidden !important;
  /*overflow:inherit !important;*/
  max-width: 100%;
}
body{
    overflow-y:hidden !important;
}

.jumbotron {
    background-color: white;
}

.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer h6
{
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



.bradcrom-links {
  text-decoration: none;
  list-style: none;
}

.jumbotron ul{
margin-top:0px;
margin-bottom:1rem;
margin-left:-40px;
} 

.bradcrom-links a {
  color: #000;
}

.bradcrom-links a:hover {
  color: #000;
}

.shopping-bag {
  margin-top: 8px;
  margin-left: 30px;
}

.nav-item{
  margin: 10px;
}


.d-flex {
  margin: 0px;
  margin-bottom: -30px;
}

.h2 {
  display: center;
}
.col {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  list-style: none;
}



.col h3 {
  margin-top: 40px;
  text-align: center;
}

.sm-col-5 {
  width: 19.8%;
  float: left;
  padding-left: 20px;
}

.image-5 {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
 }

 @media (max-width: 720px){ 
  .sm-col-5 {
    width: 100%;
    float: left;
  }
 }

 .kontakkami {
   margin-top: 40px;
   margin-bottom: 40px;
 }


 /* sidedrwaer */

/* filter home */

#product {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.filter-button {
  font-size: 18px;
}


/* img product */

* {
  box-sizing: border-box;
}


.col-lg-3 .col-md-4 .col-sm-3 {
  width: 19.8%;
  float: left;
  padding-left: 5px;
}

.image-product {
  max-width: 290px;
  max-height: 100%;
  padding: 10px;
}


@media (max-width: 720px){
  .image-product {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }
}

/* navbar */
.navbar-brand:hover {
  display: block;
}
/* desktop */
@media (min-width : 922px) {
  .nav-link {
    margin-right: 20px;
    display: block;
  }



  


  .navbar-light .navbar-nav .nav-link {
    color: black !important;

  }


  .nav-menu:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    color: #000;
    background: transparent;
    border-bottom: 2px solid #000;
    transition: width .5s ease, background-color .5s ease;
  }

  .nav-menu:hover:after {
    color: #000;
    width: 100%;
    background: #000000;
  }

  .menu-hr {
    border-top: 3px solid #000;
    margin-top: 0;
  }

  .menu:active{
    color: #000;
  }

  .nav-menu {
    color: #000;
  }

  /* .navbar-light .navbar-nav .nav-link.active{
    border-bottom: 2px solid #000;
  } */
  /* .nav-link.active {
    border-bottom: 2px solid #000;
  } */

  /* .nav-link:hover{
    border-bottom: 3px solid #000;
    display: block;
    padding-bottom: 5px;
   }  */
}

.nav-tabs{
 border-bottom:none !important;
 margin-left: 35%;
} 






.navbar-nav .nav-:hover {
  border-bottom: 3px solid #580000;
}

/* table */
.shop_table thead {
  text-transform: uppercase;
    color: #333;
}

.cart-wrapper {
  margin-bottom: 45px;
}


/* detail */
.row-1 {
  margin-top: 40px;
  border: 2px dashed #5cb85c;
  padding: 20px;
}
.p {
  color: #5cb85c;
  font-size: 20px;
}

/* tabel order detail */
.order-detail-p{
  margin-top: 40px;
  margin-bottom: 40px;
}
.order-detail {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* form upload bukti */

.was-validated {
  margin-bottom: 40px;
}



.sm-col-3 {
  width: 30.2%;
  float: left;
  padding-left: 0px;
}

@media (max-width: 300px){ 
  .next-3 {
    font-size: 10px;
  }
}

.image-3 {
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
 }

 @media (max-width: 300px){ 
  .image-3  {
    width: 10%;
    float: left;
  }
 }

 /* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 10px;
}



/* desktop */
.a-1{
    font-size: 30px;
    margin-left: -5px;
}

  

.b-1{
    font-size: 20px;
    margin-top: -28px;
    margin-left: 15px;
}

  
.c-1{
    font-size: 20px;
    margin-top: -9px;
    margin-left: 15px;
}


/* mobile */
@media screen and (max-width:480%){
.a-1{
  font-size: 20px;
  margin-left: -5px;
}
}

@media only screen and (max-width:480%){
  .b-1{
    font-size: 7px;
    margin-top: -28px;
    margin-left: 15px;
}
}

@media screen and (max-width:480%){
    .c-1{
      font-size: 7px;
      margin-top: -9px;
      margin-left: 15px;
    }
}


/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 25px;
  font-weight: bold;
  color:#ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #000;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 3px 3px;
  border-top: none;
}

.col-md-3 {
  width: 19.8%;
  float: center;
  padding-left: 0px;
}

.image-3 {
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
 }

 @media (max-width: 720px){ 
  .col-md-3 {
    width: 100%;
    float: left;
  }
 }

 .image-3:hover {
  color: #000;
  cursor: pointer;
 }

 .image-1:hover {
  color: #000;
  cursor: pointer;
 }

 .image-1 {
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
 }
 
 .dreamz-team
{
    overflow:hidden;
}
.social_media_team {
    position:absolute;
    background:rgba(114, 124, 182, 0.55);
    border:1px solid #ccc;
    height:100%;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -ms-transition:all 0.6s ease-in-out;
    -o-transition:all 0.6s ease-in-out;
    visibility:hidden;
}
.dreamz-team:hover .social_media_team
{
    visibility:visible;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);

}
.dreamz-team:hover .pic > img
{
    transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
}
.team_social {
    list-style: none outside none;
    margin:37% 0 0 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.team_social li {
    display: inline-block;
    margin:0 5px;
}
.team_social li a {
    color:#fff;
    background:#363636;
    display:block;
    height: 35px;
    text-align: center;
    width: 35px;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.team_social li a i {
    font-size: 10px;
    line-height: 35px;
    margin-right: 0;
}
.team_social li a.fb:hover      {background: #2f5a9a;}
.team_social li a.twtr:hover    {background: #3abdd1;}
.team_social li a.gmail:hover   {background: #E72828;}


.box{
  font-family: 'Merriweather Sans', sans-serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.box2{
  overflow: hidden;
  position: relative;
  height: 80px;
  width: 60px;
  margin-bottom: 10px
} 
.box2 .active {
background-color: #ccc;
}

.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after{
  content: "";
  width: 100%;
  height: 50%;
  /* background: #E65100; */
  opacity: 0.6;
  transform: translateX(-50%) translateY(0%);
  position: absolute;
  top: -50%;
  left: 50%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transition: all .3s;
}
.box:after{
  transform: translateX(-50%) translateY(0%);
  top: auto;
  bottom: -50%;
  z-index: 0;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.box .box-content:before{
  width: 50%;
  height: 100%;
  transform: translateX(0%) translateY(-50%);
  top: 50%;
  left: auto;
  right: -50%;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.box .box-content:after{
  width: 50%;
  height: 100%;
  transform: translateX(0%) translateY(-50%);
  top: 50%;
  right: auto;
  left: -50%;
  z-index: 0;
  -webkit-clip-path: polygon(0 100%, 100% 50%, 0 0);
  clip-path: polygon(0 100%, 100% 50%, 0 0);
}
.box:hover:before{ top:0; }
.box:hover:after{ bottom:0; }
.box:hover .box-content:before{ right:0; }
.box:hover .box-content:after{ left:0; }
.box img{
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.5s;
}
.box:hover img{ transform: scale(1.5); }
.box .box-content{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.box .content{
  text-align: center;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}
.box .title{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
  transform: rotateY(360deg) scale(0);
  transition: all 0.5s;
}
.box:hover .title{ transform: rotateY(0) scale(1); }
.box .post{
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 0 15px;
  display: block;
  transform: rotateY(360deg) scale(0);
  transition: all 0.5s ease 0.25s;
}
.box:hover .post{ transform: rotateY(0) scale(1); }
.box .icon{
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: rotateY(360deg) scale(0);
  transition: all 0.5s ease 0.45s;
}
.box:hover .icon{ transform: rotateY(0) scale(1); }
.box .icon li{
  display: inline-block;
  margin: 0 3px;
}
.box .icon li a{
  color: #E65100;
  background-color: #fff;
  font-size: 18px;
  line-height: 35px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  display: block;
  transition: all 0.3s;
}
.box .icon li a:hover{
  color: #fff;
  background-color: #E65100;
  box-shadow: 0 0 10px #000;
}

.box .icon-utama{
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(15px) rotate(-90deg);
  transform-origin: top right;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.box:hover .icon-utama{
  opacity: 1;
  transform: translateX(0) rotate(0);
}
.box .icon-utama li{
  margin: 0 0 5px;
  transition: 0.4s ease 0.3s;
}
.box .icon-utama li a{
  color: #fff;
  background-color: rgba(255,255,255,0.2);
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  line-height: 26px;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  display: block;
  transition: 0.3s ease-in-out;
}
.box .icon-utama li a:hover{
  color: #580000;
  background-color: #fff;
  text-shadow: none;
  box-shadow: 0 0 5px #580000;
}
@media only screen and (max-width:990px){
  .box{ margin-bottom: 30px; }
}
@media only screen and (max-width:479px){
  .box .title{ font-size: 22px; }
}


.team_prof {
  font-size: 14px;
}
.names {
  margin-top: 13px;
  font-size: 15px;
  font-weight: bold;
}

.col-md-3 {
  width: 19.8%;
  float: center;
  padding-left: 0px;
}

.image-3 {
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
 }


/* banner */

.col-md-6 {
  margin-top: 30px;
  width: 100%;
  float: left;
}

 @media (max-width: 720px){ 
  .col-md-6 {
    width: 100%;
    float: left;
  }
 }

 .image-6:hover {
  color: #000;
  cursor: pointer;
  transform: scale(1.1);
 }


 .image-6 {
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  transition: all .2s ease-in-out;
 }



 /* footer */
 .footer {
   background-color: #E4E4E4;
   margin-top: 70px;
 }

  @media (max-width: 720px){ 
  .logo-footer{
    display: flex;
    margin-left: 20%;
  }
  }

 .logo-footer{
  margin-top: 35px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .whatsap{
    margin-top: -60px
  }
  .logo_wa{
    margin-top: -4px
  }
  .font_wa{
    font-size: 9px;
   margin-left: 2px;
    
  }
}


 .form {
   margin-top: 40px;
   width: 100%;
   height: 50px;
   position: relative;
 }

  @media (max-width: 720px){
    .input-group {
      margin-top: -90px;
  }
  }


 .form input {
   margin-top: 40px;
   width: 100%;
   height: 100%;
   border: none;
   background: none;
   border-bottom: 2px solid#D9D3D3;
 }

 .input-group>.input-group-append>.btn {
   margin-top: 40px;
 }

 .iconify {
    width: 35px; height: 35px;
    margin-top: 15px;
    margin-left: 400px;
   }


   .list_footer ul {
     display: flex;
     list-style: none;
     position: absolute;
     margin-left: -45px;
     font-size: 13px;
     color: black;
   }

   @media (max-width: 720px) {
    .list_footer ul {
      display: flex;
      list-style: none;
      position: absolute;
      font-size: 8px;
      color: black;
    }
   }
   
   .list_footer li {
    display: flex;
    list-style: none;
    margin: 5px;
    color: black;
  }

  @media (max-width: 720px){
    .list_footer li a {
      display: flex;
      list-style: none;
      color: black;
      font-size: 6px;
    }
  }
  .list_footer li a {
    display: flex;
    list-style: none;
    margin: 5px;
    color: black;
  }

.social_media ul {
  display: flex;
  position: absolute;
  list-style: none;
  margin: 15px;
  margin-left: 65%;
}

.social_media a {
  list-style: none;
  margin: 15px;
  margin-left: 50%;
}


@media (max-width: 720px){
  .col-6 h5 {
    font-size: 6px;
    list-style: none;
    display: none;
  }
}
.copyright {
  font-size: 14px;
  list-style: none;
  margin: 15px;
}

@media (max-width: 720px) {
  .social_media a {
    list-style: none;
    margin: 5px;
    margin-left: -800%;
  }
}

.footer_socialmedia {
  background-color: #D9D3D3;
  height: 77px;
}



/* tabs toko */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs-column {
  margin-left: -35px;
  display: flex;
  justify-content: center;
  list-style-type: none;

}

.tab_img{
  margin: 5px;
}

.tab {
  cursor: pointer;
}

.tab.active {
  background-color: #CCC;
}



.tab-content {
  margin-top: 40px;
}

.title h5 {
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.title hr {
  width: 80px;
  border-top: 5px solid red;

}

@media (max-width: 720px) {
.tab-filter{
  display: none;
}
}

/* CONTENT TOKO */
.col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}


/* img toko 1 column */

.box-1{
  overflow: hidden;
  position: relative;
  height: 260px;
  width: 190px;

} 

.column-1{
 border-top: 1px solid #ccc; 
 border-bottom: 1px solid #ccc;

}

.column-1:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 2px;
}

.names a {
  color: #737373;
  
}

.names a:hover{
  color: #000;
  text-decoration: none;
  
}

.price {
  margin-top: 7px;
}

.stok {
  margin-top: 3px;
  font-size: 13px;
}

.stok .in-stok {
  font-size: 13px;
  color: #5cb85c;
}

.btn-add a{
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 5px 15px 7px 20px;
  text-align: center;
  color: #000;

}

.btn-add a:hover{
  border: 1px solid #5cb85c;
  color: #000;
  text-decoration:none;
}

.Quick_view {
  margin-top: 14px;
}

.Quick_view a:hover {
  color: #000;
  text-decoration: none;
}

.title-quick {
  color: #737373;
}

.title-quick a:hover {
  color: #000;
}


/* filter */
.filter{
  color: #737373;
  margin-left: 30px;
  margin-top: -25px;
}

.filter a:hover{
  color: #363636;
  text-decoration: none;
  margin-left: 30px;
  margin-top: -25px;
}


/* filter short by */
.sort-by {
    margin-left: 60px;
}


.dropdown  .menu-dropdown{
    margin-top: -10px;
    border: none;
    color: #333e48;
    font-weight: normal;
    outline: none;
    cursor: pointer;
}


/* widget produk */
.widget_a {
  color: #000;
  font-size: 18px;
}

.widget_a:hover {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
.ex a {
  color: #000;
  font-size: 18px;
}


.ex a:hover{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.lisprofil {
  margin-top: 5px;
}

.pintu {
  margin-top: 5px;
}

.tangga {
  margin-top: 5px;
}

.btn-tags ul a {
  color: #ffffff;
  list-style: none;
  background-color: #737373;
  text-decoration: none;
  padding: 6px 6px 6px ;
}
.btn-tags a  {
  list-style: none;
  margin: 2px;
  padding: 6px 6px 6px;
}

.tags-btn {
  margin-top: 30px;
  margin-left: -40px;
}
/* img product */
.smal-img-row {
  margin-bottom: 60px;
  /* display: flex; */
  justify-content: space-between;
}

.smal-img-col {
  margin: 5px;
  flex-basis: 30%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .smal-img-row {
    margin-bottom: 60px;
    /* display: flex; */
    justify-content: space-between;
    display: none;
  }
}
.buy-now-1 {
  margin-top: 30px;
  width: 500px;
}

.buy-now-1  a { 
  color: #fff;
  padding: 10px 50px;
  width: 500px;
  background-color: #580000;
}

.buy-now-1  a:hover { 
  color: #fff;
  text-decoration: none;
  background-color: red;

}

/* table your order */
.table-order {
    width: 100%;
    padding: 10px 15px;
    border: 1px;
}

.label-table {
  color: red;
}

.label-table:hover {
  color: red;
  text-decoration: none;
}

.btn-placeorder button {
  color: #fff;
  background-color: #888;
  width: 150px;
  height: 50px;
}


/* link relate */
.link-relate a{
  color: #888;
}
.link-relate a:hover{
  color: #888;
  text-decoration: none;
}


/* corusel */
body{
	margin:0;
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
}

.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
  height: 300px;
  background-color: grey;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color:#ffffff;
  float: left;
}

.thumbnail-slider .controls{

	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
  margin-top: 50px;
	float:right;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: green;
	color:#ffffff;

}


/* produt 6 */
.product-buttom  {
  margin: 5px;
}

.product-buttom h3 {
  font-size: 20px ;
  margin-bottom: -1px;
}
.product-buttom h5 {
  font-size: 15px ;
  /* margin-bottom: ; */
}

.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 5%;
  margin-left: -5px;
  width: 10px;
}
.product-top:hover .overlay {
  opacity: 1;
  margin-bottom: 5%;
  transition: 0.5s;
}

.overlay .fa {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  padding: 7px;
  margin: 5%;
}

.overlay .btn-secondary {
  background:transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: 30px;
  height: 30px;
  margin: 5px;
}




.thumb-img {
position: relative;
top: 0;
}



.gambar2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out; */
  transition: 0.5s ease-in-out;
}

.thumb-img:hover .gambar2 {
  opacity: 1;
}

/* mobile tab */
.mobile-tab {
  display: none;
}
@media only screen and (max-width: 600px) {
  .mobile-tab {
   display: block;
  }
}

@media only screen and (max-width: 600px) {
  .wraper-viewcart{
    display: none;
  }
}

.shoping-mobile a {
  color: #000;
  font-size: 10px;
}
  
.shoping-mobile a:hover {
  color: #000;
  text-decoration: none;
}

.Checkout-Detail a {
  color: rgb(170, 15, 15);
  font-size: 10px;
}

.Checkout-Detail a:hover {
  color: #000;
  font-size: 10px;
  text-decoration: none;
}

.Order-Complated a {
  color: rgb(170, 15, 15);
  font-size: 10px;
}

.Order-Complated a:hover {
  color: #000;
  font-size: 10px;
  text-decoration: none;
}

.Checkout-Detail-active a {
  color: #000;
  font-size: 10px;
}

.Checkout-Detail-active a:hover {
  color: #000;
  font-size: 10px;
  text-decoration: none;
}

.Order-Complated-active a {
  color: #000;
  font-size: 10px;
}

.Order-Complated-active a:hover {
  color: #000;
  font-size: 10px;
  text-decoration: none;
}

/* side */
.filnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.filnav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  color: #000;
  /* display: block; */
  transition: 0.3s;
}

/* .filnav a:hover {
  color: #f1f1f1;
} */

.filnav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  /* margin-left: 50px; */
}


.filter a:hover {
  color: #363636;
  text-decoration: none;
  margin-left: 0;
  margin-top: 0;
}

/* navbar stiky */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1 !important;
}

/* seach */
.wrap .searchbar {
    position: relative;
    z-index: 16;
}

.wrap .searchbar input[type="text"]{
    border: 0;
    margin-top: 3px;
    padding: 0 0px;
    width: 0px;
    height: 35;
    border-radius: 3px;
}

.wrap .searchbar .icon {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    margin-right: -6px;
    margin-top: 1px;
    width: 35px;
    height: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrap .searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    cursor: pointer;   
}

.wrap .searchbar .icon.active{
  background: #363636;
  transition: all 0.3s ease;
}

.wrap .searchbar input[type="text"].active{
  width: 200px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
}

/* ser */
.search-container {
  float: right;
}

.input[type=text] {
  /* padding: 6px; */
  /* margin-top: 8px; */
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  /* padding: 6px 10px; */
  /* margin-right: 16px; */
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}


